@font-face { 
    font-family: 'Gordita';
    src: url('../../public/fonts/Gordita-Regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Trade Gothic';
    src: url('../../public/fonts/Trade-Gothic-Bold-Condensed-20.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.splide__pagination__page.is-active {
  background: white !important;
}
